@font-face {
    font-family: Dragon FREE;
    src: url("fonts/Dragon\ FREE.ttf") format("truetrype");
}

@font-face {
    font-family: Apple Chancery;
    src: url("fonts/Apple\ Chancery.ttf") format("truetrype");
}


body {
    background-color: #fee0bc;
    left: 0;
    top: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2,
h1 {
    font-family: Dragon FREE;
    font-size: 5em;
    margin-bottom: 1vh;
}

/* header */
header {
    background-color: #154d59;
    color: white;
    font-family: Dragon FREE;
    font-size: 3em;
    left: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

header nav {
    width: 100vw;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

header nav ul li {
    list-style: none;
    padding-top: 1vh;

}

header nav ul li a {
    list-style: none;
    color: white;
    text-decoration: none;

}

header nav ul li a:hover {
    list-style: none;
    color: white;
    text-decoration: underline;

}

header nav ul li img {
    width: 5vw;

}

/* header */

/* video gedeelte */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #154d59;
}

main section {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.addVideo {
    display: flex;
    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 100vw;
    justify-content: center;
    background-color: #7AAB82;
}

.addVideo img {
    width: 50vw;
}

/* video gedeelte */

/* want to try yourself gedeelte */
section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section:nth-of-type(2) img {
    width: 30vw;
}

section:nth-of-type(2) div {
    font-size: 1.5em;
}

/* want to try yourself gedeelte */
/* about us page */
.Aboutus section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    background-color: #7AAB82;
    width: 100vw;
    margin-top: 0;
    padding-bottom: 5vh;
}

.Aboutus section:nth-of-type(1) div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #154d59;
}

.Aboutus section:nth-of-type(1) div:nth-of-type(1) p {
    font-size: 3em;
    width: 40vw;
    text-align: center;
    margin-top: 0;
}

.Aboutus section:nth-of-type(1) div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.Aboutus section:nth-of-type(1) div:nth-of-type(2) img {
    width: 15vw;
    height: fit-content;
}

.Aboutus section:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.Aboutus section:nth-of-type(2) div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poep {
    font-size: 2em;
    text-align: center;
    width: 30vw;
}

.Aboutus section:nth-of-type(2) div:nth-of-type(2) {
    width: 50vw;
}

.Aboutus section:nth-of-type(2) div:nth-of-type(2) img {
    width: 17vw;

}

.Aboutus section:nth-of-type(2) div:nth-of-type(2) ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;
}

.Aboutus section:nth-of-type(2) div:nth-of-type(2) ul li {
    display: flex;
    justify-content: center;
    width: 20vw;
    font-size: 0.7em;
    text-align: center;
    margin: 0.5vw;
    height: 50vh;
    border-radius: 0.5rem;

}



/* image flip thing */
section li:hover {
    animation: jiggle 1s infinite ease-out;
    text-decoration: underline;
    transition: all 200ms;
    cursor: pointer;

}




section ul li:nth-of-type(1) {
    background-color: grey;
}

section ul li:nth-of-type(2) {
    background-color: green;
}

section ul li:nth-of-type(3) {
    background-color: brown;
}

section ul li:nth-of-type(4) {
    background-color: rgb(248, 152, 168);
}

section ul li:nth-of-type(1):hover {
    background-color: rgb(163, 162, 162);
}

section ul li:nth-of-type(2):hover {
    background-color: rgb(4, 189, 4);
}

section ul li:nth-of-type(3):hover {
    background-color: rgb(207, 58, 58);
}

section ul li:nth-of-type(4):hover {
    background-color: rgb(252, 193, 203);
}

@keyframes jiggle {
    0% {
        transform: translateY(0vh);
        opacity: 1;
        border-radius: 1rem;

    }

    10% {
        transform: translateY(-1.2vh);
    }

    50% {
        transform: translateY(-1.5vh);
        opacity: 0.8;
        border-radius: 2rem;
        box-shadow: 0.1vw 0.15vw 0.5vw 0.2vw black;
    }

    65% {
        transform: translateY(-1.2vh);
    }

    100% {
        transform: translateY(0vh);
        opacity: 1;
        border-radius: 1rem;
    }
}

/* backface of card trial */
.flipclass {
    transform: rotateY(180deg);
}

.flip_container {
    transition: all 1000ms;
    transform-style: preserve-3d;


}

.front,
.back {
    backface-visibility: hidden;
}

.back {
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 30vh;
    align-items: center;
    position: absolute;
    transform: rotateY(180deg);

}

.back p {
    width: 19vw;
}

/* image flip thing */

/* our process */
.Aboutus section:nth-of-type(3) {
    width: 100vw;
    background-color: #7AAB82;
    margin-bottom: 0;
    padding-bottom: 5vh;
}



/* Slides */
.slideshow-container {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.slide {
    display: none;
}

.slideshow-container img {
    width: 20vw;
    height: 50vh;
}

/* Navigation buttons */
.prev, .next {
    cursor: pointer;
}
.prev{
    margin-right: 5vw;
}
.next{
    margin-left: 5vw;
}
